body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 40%;
    border:1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1 {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(34, 0, 255);
    background-color: rgb(34, 0, 255);
    border-radius: 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

  
}
  .container-caixa1 {
    display: flex;
    gap: 20px; /* Define um espaço de 20px entre cada item */
}

.caixa2 {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(34, 0, 247);
    background-color: rgb(34, 0, 247);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa3 {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(34, 0, 255);
    background-color: rgb(34, 0, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teste {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

input {
    width:90%;
    padding: 10px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}