body {
    overflow: hidden    ;
    width: 100%;
    height: 100vh;
    background-color: rgb(192, 174, 154);
    display: flex;
    justify-content:center;
    align-items: center;
}

.caixa{
        background-color: rgb(179, 55, 55);
        width: 80%;
        height: 80%;
        border: 1px solid yellow;
        display: flex;
        justify-content:center;
        align-items: center;
             
}

.caixa1 {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(50, 14, 14);
    background-color: rgb(236, 226, 41);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:  column;
}

.teste {
    width: 500px;
    height: 500px;
    border: 1px solid red;
}